<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/layout">
<!--<html lang="en"-->
<!--data-layout-decorate="~{fragments/layout}">-->
<head>

    <meta charset="UTF-8"/>
    <meta name="keywords" content="Software, Isp Billing, SMS Notification, Notification Log, Mikrotik manage,
     Mikrotik Api,PPPOE activation/deactivation Custom SMS, Cisco,Spring, JPA, Bootstrap" >
    <meta name="Description" content="Well orginized ISP billing software, you can easily configure your routers to mange your clients,
     can send SMS notification for bill.
     Finally this software can mange your valuable clinets due">
    <title>Main Page</title>
</head>

<body>

<div class="right_col" role="main" data-layout-fragment="content">

</div>
</body>
</html>
